
/**************************
	Objects general
**************************/


.objectImgGeneralSize
{
    width: 100%;
    height: 100%;
}

.infoArea
{
    width: 40%;
    height: 20%;
    position: absolute;
    margin-left: 35%;
    margin-top: 35%;
    background-color: papayawhip;
    border-color: darkred;
    border-style: solid;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-down-width: 10px;
    visibility: hidden;
}
.infoArea:hover
{
    cursor: default;
}
.infoTextMsgClass
{
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#charIconImg
{
    margin-left: 15%;
    margin-top: 2%;
    width: 55%;
    height: 90%;
}

/**************************
	location beach mid
**************************/





/**************************
	location beach left
**************************/

#objStick
{
    width: 80px;
    height: 20px;
    position: absolute;
    margin-left: 22%;
    margin-top: 30%;
    visibility: hidden;
}

/**************************
	location beach right
**************************/

#objFlintstones
{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 87%;
    margin-top: 26%;
    visibility: hidden;
}

#objBottleEmpty
{
    width: 55px;
    height: 55px;
    position: absolute;
    margin-left: 40%;
    margin-top: 30%;
    visibility: hidden;
}

/**************************
	location jungle
**************************/

#objFruit
{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 26%;
    margin-top: 31%;
    visibility: hidden;
}


#objStickHatchet
{
    width: 75px;
    height: 25px;
    position: absolute;
    margin-left: 11%;
    margin-top: 22%;
    visibility: hidden;
}

#objThicket
{
    width: 300px;
    height: 273px;
    position: absolute;
    margin-left: 60%;
    margin-top: 4%;
    visibility: hidden;
}

/**************************
	location temple
**************************/

#npcMaya
{
    width: 70px;
    height: 160px;
    position: absolute;
    margin-left: 70%;
    margin-top: 30%;
}

/**************************
	location river
**************************/

#objFiberCrops1
{
    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: 50%;
    margin-top: 30%;
    visibility: hidden;
}

#objFiberCrops2
{
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 24%;
    margin-top: 12%;
    visibility: hidden;
}

#objFiberCrops3
{
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 80%;
    margin-top: 22%;
    visibility: hidden;
}


/**************************
	location opening
**************************/

#objFlower
{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
    visibility: hidden;
}


/**************************
	location lake
**************************/

#objFish
{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 36%;
    margin-top: 40%;
    visibility: hidden;
}

#objTreasureChest
{
    width: 100px;
    height: 80px;
    position: absolute;
    margin-left: 67%;
    margin-top: 40%;
    visibility: hidden;
}

/**************************
	location cave
**************************/

#objBear
{
    width: 160px;
    height: 160px;
    position: absolute;
    margin-left: 11%;
    margin-top: 14%;
    visibility: visible;
}

#objBeehive
{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 84%;
    margin-top: 21%;
    visibility: hidden;
}

#objSpinach
{
    width: 75px;
    height: 75px;
    position: absolute;
    margin-left: 16%;
    margin-top: 17%;
    visibility: hidden;
}

/**************************
	location cliff
**************************/

#objSailCloth
{
    width: 150px;
    height: 130px;
    position: absolute;
    margin-left: 14%;
    margin-top: 25%;
    visibility: hidden;
}

#objDoorHinges
{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 60%;
    margin-top: 25%;
    visibility: hidden;
}

/**************************
	location rocks
**************************/

#objCloth
{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 63%;
    margin-top: 33%;
    visibility: hidden;
}

/**************************
	location volcano
**************************/

#objVolcanicStones
{
    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: 20%;
    margin-top: 35%;
    visibility: hidden;
}

/**************************
	location waterfall
**************************/

#objClearWater
{
    width: 120px;
    height: 100px;
    position: absolute;
    margin-left: 46%;
    margin-top: 10%;
    visibility: hidden;
}

#objStickFishingPole
{
    width: 110px;
    height: 20px;
    position: absolute;
    margin-left: 32%;
    margin-top: 43%;
    visibility: hidden;
}

/**************************
	location laboratory
**************************/

#npcScientist
{
    width: 100px;
    height: 170px;
    position: absolute;
    margin-left: 23%;
    margin-top: 22%;
}

#objValve
{
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: 96%;
    margin-top: 40%;
    visibility: hidden;
}

/**************************
	location treehouse
**************************/

#npcVersutus
{
    width: 70px;
    height: 160px;
    position: absolute;
    margin-left: 66%;
    margin-top: 18%;
}






/**************************
	Action Points
**************************/

#actionPointsOverallContainer
{
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 95%;
    margin-top: 6%;
    background-color: darkorange;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

#actionPointsContainer {
    width: 43px;
    height: 43px;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    background-color: #ffffe0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

#actionPointsValue
{
    margin-top: 2px;
    margin-left: 4px;
    font-size: 25pt;
    color: darkorange;
}

#actionPointsValue:hover
{
    color: orange;
    cursor: default;
}




