
/**************************
		Norman
**************************/
html
{
    height: 80%;
}
body
{
    height: 100%;
}


#containerSave
{
    position: relative;
    margin-left: 89%;
}
#overallContainer
{
    height: 100%;

    background-color: antiquewhite;
}

.buttonsSave {
   -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
   -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
   box-shadow:inset 0px 1px 0px 0px #97c4fe;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
   background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
   background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
   background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
   background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
   background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
   background-color:#3d94f6;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #337fed;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:arial;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #1570cd;
   margin-bottom: 3px;
   width: 100%;
}
.buttonsSave:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;

    width: 100%;
}
.buttonSave:active {
    position:relative;
    top:1px;
}

#location
{
    height: 100%;
}

#object1
{
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    background-color: pink;
}

#object2
{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    background-color: black;
}

#object1desc
{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    background-color: green;
}

#object2desc
{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
}

#imgTest
{
    width: 10%;
    height: 20%;
    margin-left: 45%;
}
#textTest
{
    margin-top: 10%;
    width: 30%;
    margin-left: 35%;
}

#loadingScreen
{
    height: 100%;
}
#ttt
{
    background-color: yellow;
}

