@(message: String)

@main(title = "About Escape The Island") {

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <h2>About the game</h2>
                <p>Escape The Island is a 2D point-and-click-adventure. Assuming the role of a stranded civilian, you have to think on your feet to lead his situation to a success.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Our mission</h2>
                <p>We created a 2D point-and-click-adventure which is called “Escape The Island”. The user controls the main character being stranded on an island and has to help him to escape.</p>
            </div>
        </div>
        <div clss="row">
            <div class="col-sm-12">
                <h2>The user can...</h2>
                <ul>
                    <li><p>move between the different locations of the island</p></li>
                    <li><p>interact with objects</p></li>
                    <li><p>gather and use items</p></li>
                    <li><p>interact with NPCs (non-playable character)</p></li>
                    <li><p>combine different objects and items</p></li>
                    <li><p>receive an evaluation on his success</p></li>
                </ul>
                <p>Furthermore there are different endings, so stay curious.. ;)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Our Developer Team</h2>
                <p>Norman Naujokat, Alisa Koksjuk, Maik Wandrei</p>
            </div>
        </div>
    </div>

}