@(message: String)

@main(title = "Select a character") {
    <script src=@routes.Assets.at("javascripts/selection.js") type="text/javascript"></script>
    <script src=@routes.Assets.at("javascripts/selection.js") type="text/javascript"></script>
    <script src=@routes.Assets.at("javascripts/jquery-1.9.0.min.js") type="text/javascript"></script>
    <script src=@routes.Assets.at("javascripts/objectSelection.js") type="text/javascript"></script>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-2">
                <div class="btn-group-vertical">
                    <a class="btn btn-primary" href="characterSelection" title="Start a new game and try to escape from the island!">New Game</a>
                    <a class="btn btn-primary" href="#" title="Continue an existing game">Load Game</a>
                    <a class="btn btn-primary" href="editProfile" title="Make changes on your profile">Edit Profile</a>
                    <a class="btn btn-primary" href="#" title="View your statistics">View Your Statistics</a>
                    <!-- old:
                    <button type="text" id="start-game" class="btn btn-success" name="start-game" disabled="true" onclick="window.location='loadingGame'">Start Game</button>
                    -->
                   <button type="text" id="start-game" class="btn btn-success" name="start-game" disabled="true" onclick="loadingSurface()">Start Game</button>
                </div>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <thead class="tb-heading">
                        <p>Choose the character you want to play on the island. <br>Choose wise – every character is different &#9786;</p>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_char col-md-4" id="Bob" onclick="select('Bob')">
                                Bob <br>
                                <img alt="Bob" src=@routes.Assets.at("images/Bob-avatar-mini.png")/>
                            </td>
                            <td id="Alice" class="td_char col-md-4" onclick="select('Alice')">
                                Alice <br>
                                <img alt="Alice" src=@routes.Assets.at("images/alice-mini.png")/>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_char col-md-4">
                                ? <br>
                            </td>
                            <td class="td_char col-md-4">
                                ? <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_char col-md-4">
                                ? <br>
                            </td>
                            <td class="td_char col-md-4">
                                ? <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <p>Description of the character</p>
                <textarea class="form-control" readonly cols="35" rows="10" name="description" id="description"></textarea>
                <br>
            </div>
        </div>
    </div>

}