@(message: String)

@main(title = "Home") {


    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-3">
                <div class="btn-group-vertical">
                    <a class="btn btn-primary" href="home" title="Home">Home</a>
                    <a class="btn btn-primary" href="characterSelection" title="Start a new game and try to escape from the island!">New Game</a>
                    <a class="btn btn-primary" href="loadGame" title="Continue an existing game">Load Game</a>
                    <a class="btn btn-primary" href="editProfile" title="Make changes on your profile">Edit Profile</a>
                    <a class="btn btn-primary" href="statistics" title="View your statistics">View Your Statistics</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="col-sm-8">
                    <p id="error-message">@message</p>
                    <p id="p-center">Home</p>
                    <img id="homeImg" src="@routes.Assets.at("images/logo.png")">
                    <div>
                        <h4 id="homeH4">How this game works:</h4>
                        <p>
                            In the following lines the basic mechanics of Escape The Island are being explained.
                        </p>
                    </div>
                    <div>
                        <h5 class="homeH5">Your character</h5>
                        <p class="homeTxt1">
                            There is an icon of your character on the left side of your item bar. Try clicking on it.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg1" src="@routes.Assets.at("images/homeInfos/homeCharacter.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Action points</h5>
                        <p class="homeTxt1">
                            After selecting your character, you will start with a fixed amount of action points. Several actions your character
                            can perform will reduce your action points, like collecting items or creating new items. The more action points you
                            have left when completing the game, the better. Your best character will appear in the statistics.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg2" src="@routes.Assets.at("images/homeInfos/homeActionPoints.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Navigation</h5>
                        <p class="homeTxt1">
                            There are different locations on the island. If another location is available where your mouse pointer is located
                            , an arrow appears. Click on this arrow to enter the new location.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg3" src="@routes.Assets.at("images/homeInfos/homeNavigate.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Collecting items</h5>
                        <p class="homeTxt1">
                            On the island you will find different things which can be more or less useful. You can collect them if you click on
                            an item. The item now will be located in your item bar.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg4" src="@routes.Assets.at("images/homeInfos/homeCollectItem.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Interacting with objects</h5>
                        <p class="homeTxt1">
                            There are several objects that you can interact with. Just click on them.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg5" src="@routes.Assets.at("images/homeInfos/homeInteractWithObject.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Using items on objects</h5>
                        <p class="homeTxt1">
                            You also can use an item to perform an action on an object. For example you could try to use a bottle on a
                            waterfall to fill the bottle with water. All you have to do is to select the item in your itembar and click on
                            an object. You can only use one item on an object at the same time.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg6" src="@routes.Assets.at("images/homeInfos/homeUseItemOnObject.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Create new items</h5>
                        <p class="homeTxt1">
                            To proceed with your escape plans, you will have to create new items out of the ones you possess. First, select several
                            items in your itembar, then use the tool symbol in form of a hammer to create a new item if that is possible.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg7" src="@routes.Assets.at("images/homeInfos/homeCreateItems.PNG")">
                    </div>
                    <div>
                        <h5 class="homeH5">Interact with NPCs</h5>
                        <p class="homeTxt1">
                            Even if you think you are alone on this island, you will soon find out that you aren't. Click on an NPC to interact
                            with him. He may give you quests, items, useful pieces of information, or teach you something helpful.
                        </p>
                    </div>
                    <div>
                        <img id="homeExImg8" src="@routes.Assets.at("images/homeInfos/homeNPC.PNG")">
                    </div>
                </div>
            </div>
        </div>
    </div>
}