@(message: String)

@main(title = "Escape The Island") {

    <div id="myCarousel" class="carousel slide jumbotron">
        <div class="container">
            <ol class="carousel-indicators">
                <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <h1>Enjoy playing our game.</h1>
                    <p class="lead">Play our point and click adventure by signing up today!</p>
                    <div class="btn-group">
                        <a href="login.scala.html" class="btn btn-success">Login</a>
                        <a href="register.scala.html" class="btn btn-success">Sign up</a>
                        <a href="about.scala.html" class="btn btn-success">Read more</a>
                    </div>
                </div>
                <div class="item">
                    <h1>About the game.</h1>
                    <p class="lead">Read further information about the game and the story behind it.</p>
                    <a href="#" class="btn btn-success">Tell me more</a>
                </div>
                <div class="item">
                    <h1>News.</h1>
                    <p class="lead">Stay in touch with our upcoming features.</p>
                    <a href="#" class="btn btn-success">News</a>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>The Game</h2>
                <p>Get around the island and expect the unexpected! Explore this mysterious island and try to find out how to escape from it. You have to collect objects and combine them to something useful to survive.</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Links</h2>
                <p><a href="http://itsoftwareeng.wordpress.com">Visit our Blog </a> to get information about this project and review our homework or
                    <a href="https://github.com/Escape-The-Island-Team/Escape-The-Island.git">visit us on GitHub </a> for even more details</p>
            </div>
        </div>
    </div>

}
