@(message: String)

<!DOCTYPE html>
<html>
    <head>
        <title>River</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mainIngame.css")">
        <script src=@routes.Assets.at("javascripts/selection.js") type="text/javascript"></script>
        <script src=@routes.Assets.at("javascripts/jquery-1.9.0.min.js") type="text/javascript"></script>
        <script src=@routes.Assets.at("javascripts/objectSelection.js") type="text/javascript"></script>
    </head>
    <body>
        <div class="overallContainer">

            <div class="containerSave">
                <table>
                    <tr>
                        <td><button type="text" class="buttonsSave" name="save" onclick="window.location='loadingGame'">Save</button></td>
                    </tr>
                    <tr>
                        <td><button type="text" class="buttonsSave" name="save and exit" onclick="window.location='loadingGame'">Save and Exit</button></td>
                    </tr>
                </table>
            </div>

                <!-- Location on the island-->
            <div id="beach-mid" background-img="@routes.Assets.at("images/test.png")">
                <label hidden="false">beach left</label>
                <img id="arrowBeachMid-BeachLeft" src="@routes.Assets.at("images/test.png")" onclick="" onmouseover="">
            </div>
        </div>
    </body>
</html>

