@(message: String)

@main(title = "Login") {

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <p id="error-message">@message</p>
                    <p id="p-center">Login</p>
                    <form method="post" action="@routes.Accountmanagement.login()">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="nickname">Nickname: </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="nickname" name="nickname"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="password">Password: </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" id="password" name="password"/>
                            </div>
                        </div>
                        <p><br>You don't have an account yet? <a href="register">Sign Up Now</a></p>
                        <button type="button" class="btn btn-default">Cancel</button>
                        <input type="submit" class="btn btn-default" value="Submit" name="register-submit" data-toggle="modal" data-target="#myModal"/>
                    </form>
                </div>
            </div>
        </div>

    }