@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src=@routes.Assets.at("javascripts/bootstrap.min.js") type="text/javascript"></script>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="logo" alt="Logo" src=@routes.Assets.at("images/logo.png")/>
                    </div>
                    <div class="col-sm-5">
                        <a class="navbar-brand text-muted hidden-xs" href="index">Escape the Island - A point and click adventure</a>
                    </div>
                    <div class="col-sm-5">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="@("active".when(request.path == controllers.routes.Application.index().toString()))"><a href="index">Home</a></li>
                                <li class="@("active".when(request.path == controllers.routes.Application.about().toString()))"><a href="about">About</a></li>
                                <li class="@("active".when(request.path == controllers.routes.Application.contact().toString()))"><a href="contact">Contact</a></li>
                                <li class="@("active".when(request.path == controllers.routes.Application.editProfile().toString()))"><a href="editProfile">Edit Profile</a></li>
                                <li class="@("active".when(request.path == controllers.routes.Application.login().toString()))"><a href="login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @content

        <div class="container">
                <!-- Footer -->
            <footer class="main-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="link-list">
                            <li class="heading">Get in touch</li>
                            <li><a href="http://itsoftwareeng.wordpress.com">Visit our Blog</a></li>
                            <li><a href="https://github.com/Escape-The-Island-Team/Escape-The-Island.git">Visit us on GitHub</a></li>
                            <li><p class="copyright">&copy; 2014 Escape the Island Team</p></li>
                        </ul>
                    </div>
                </div>
            </footer>
                <!-- End Footer -->
        </div>
    </body>
</html>
