@(message: String)

@main(title = "Terms of Use") {

    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h2>Here are our Terms of Use.</h2>
                <p>
                    To access certain portions of our Website and play the game, you may be asked to complete an online registration form.<br>
                    In consideration for your use of this Website and the services provided on it, you agree to provide true, current, complete and accurate information as requested on any registration form to which this Website may direct you, and to update that registration information as soon as possible after any information on such registration form changes.<br>

                    Upon registration, you will choose a username and password. You alone are responsible for keeping that password and username confidential, and for any and all activity that occurs on this Website under such password or username.<br>
                    You agree to immediately notify the Escape-The-Island-Team of any unauthorized use of your password or username or any other breach of security.

                </p>
            </div>
        </div>
    </div>
}